<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      animated
      [(ngModel)]="searchQuery"
      (ionInput)="search($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label class="search" *ngIf="!searchQuery;else show_result">
    <ion-icon name="search" size="large" class="searchicon"></ion-icon><br />
    <ion-label class="no-item-text">Search of any product</ion-label>
  </ion-label>

  <ng-template #show_result>
    <ion-label class="search" *ngIf="searchresult;else show_items_list">
      <ion-icon name="search" size="large" class="searchicon"></ion-icon><br />
      <ion-label class="no-item-text">No items Found</ion-label>
    </ion-label>
    <ng-template #show_items_list>
      <div cards>
        <div class="grid-full">
          <ion-row>
            <ion-col *ngFor="let product of items">
              <ion-card>
                <ion-card-header>
                  <div class="image-section">
                    <img src="{{product.Image}}" style="width: 100%; height: 150px;" />
                  </div> 
                </ion-card-header> 
                <ion-card-content class="content-1">
                  <div class="product-main">
                    <ion-label class="product-name">{{product.itemname}}</ion-label>
                  </div>
                </ion-card-content>
                <ion-card-content>
                  <div class="detail-part">
                    <span class="price-list " *ngIf = "!product.isoffer" >AED : {{ product.Rate }}</span>
                    <span class="offer-price" *ngIf = "product.isoffer">AED : {{ product.offerRate }}</span>
                    <span class="price-list " *ngIf = "product.isoffer" style="text-decoration: line-through;">AED : {{ product.Rate }}</span>
                    <span slot="end" class="unit ">{{ product.measure }}{{ product.Unit }} </span>
                  </div>
                </ion-card-content>
                <ion-card-content class="ion-card-footer">
                  <div class="product-details">
                    <ion-button fill="outline" color="#60b246" [hidden]="!product.hidefield" class="add-to-cart" (click)="addcart($event,product)">
                      ADD
                    </ion-button>
                  <ion-label [hidden]="product.hidefield" class=" outline add-to-cart">
                    <ion-icon name="remove" class="ion-padding-end " (click)="decreaseProduct(product)"></ion-icon>
                    <ion-label class="product-qnty" >{{product.quantity}}</ion-label>
                    <ion-icon name="add" class="ion-padding-start " (click)="addcart($event,product)"></ion-icon>
                  </ion-label>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ion-content>
