ion-icon{
    font-size:  64px;
    padding: 43%;
}
.order-successful
{
    position: relative;
}
.great-text{
    position: absolute;
    top: 60%;
    left: 25%;
}
.succes-page-btn{
    width: 48%;
}